.page-header
  .btn-toolbar.pull-right
    .btn-group
      = link_to new_document_path, class: 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt New
  %h2= title controller.controller_name
%p アーキテクチャをレイヤーごとに表示します。

.row
  .col-xs-12
    .panel.panel-primary
      .panel-heading User Interface Layer
      .panel-body
        %p This is a Basic panel content. This is a Basic panel content. This is a Basic panel content. This is a Basic panel content. This is a Basic panel content. This is a Basic panel content. This is a Basic panel content.
        %ul.list-group
          %li.list-group-item Free Domain Name Registration
          %li.list-group-item Free Window Space hosting
          %li.list-group-item Number of Images
          %li.list-group-item 24*7 support
          %li.list-group-item Renewal cost per year
    .panel.panel-success
      .panel-heading Application Layer
      .panel-body
        %p This is a Basic panel content. This is a Basic panel content. This is a Basic panel content. This is a Basic panel content. This is a Basic panel content. This is a Basic panel content. This is a Basic panel content.
        %ul.list-group
          %li.list-group-item Free Domain Name Registration
          %li.list-group-item Free Window Space hosting
          %li.list-group-item Number of Images
          %li.list-group-item 24*7 support
          %li.list-group-item Renewal cost per year
    .panel.panel-danger
      .panel-heading Domain Layer
      .panel-body
        %p This is a Basic panel content. This is a Basic panel content. This is a Basic panel content. This is a Basic panel content. This is a Basic panel content. This is a Basic panel content. This is a Basic panel content.
        %ul.list-group
          %li.list-group-item Free Domain Name Registration
          %li.list-group-item Free Window Space hosting
          %li.list-group-item Number of Images
          %li.list-group-item 24*7 support
          %li.list-group-item Renewal cost per year
    .panel.panel-info
      .panel-heading Infrastructure Layer
      .panel-body
        %p This is a Basic panel content. This is a Basic panel content. This is a Basic panel content. This is a Basic panel content. This is a Basic panel content. This is a Basic panel content. This is a Basic panel content.
        %ul.list-group
          %li.list-group-item Free Domain Name Registration
          %li.list-group-item Free Window Space hosting
          %li.list-group-item Number of Images
          %li.list-group-item 24*7 support
          %li.list-group-item Renewal cost per year
