.page-header
  .btn-toolbar.pull-right
    .btn-group
      = link_to new_document_path, class: 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt New
  %h2= title controller.controller_name
%p MTGで使用した資料や共有したい資料を保管しておく場所です。

.row
  .col-xs-12
    .panel.panel-default
      .panel-heading title
      .panel-body
        %p This is a Basic panel content. This is a Basic panel content. This is a Basic panel content. This is a Basic panel content. This is a Basic panel content. This is a Basic panel content. This is a Basic panel content.
        %ul.list-group
          %li.list-group-item Free Domain Name Registration
          %li.list-group-item Free Window Space hosting
          %li.list-group-item Number of Images
          %li.list-group-item 24*7 support
          %li.list-group-item Renewal cost per year
