.title-bar {
  position: relative;
  padding: .25em 0 .5em .75em;
  border-left: 6px solid #3498db;
}
.title-bar::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ccc;
}


.logical-name-bar {
  position: relative;
  padding: .25em 0 .5em .75em;
  border-left: 6px solid #00FF00;
}

.logical-name-bar::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ccc;
}

table.analysis-model {
  td {
    width: 100%;
    border: 1px solid #c7c7bc;
    color: #404040;
    &:hover{
      background-color: #f49d9d;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
    }
  }
}
